<div class="post__wrap box" data-post-id="<%= post.id %>">
  <div class="post__header">
    <div class="post__author">
      <a href="/<%= post.user.identify %>" class="author">
        <div class="post__thumbnail-wrap">
          <%= image_tag post.user.avatar.thumb.url, class: 'thumbnail' %>
        </div>
        <%= post.user.identify %>
      </a>
    </div>
    <div class="right">
      <span class="post__date"><%= distance_of_time_in_words(Time.now, post.created_at) %></span>
    </div>
  </div>
  <div class="post__content">
    <% if post.image.url %>
        <div class="post__image">
          <img src="<%= post.image.url %>"/>
        </div>
    <% end %>
  </div>
  <div class="post__footer">
    <div class="post__like-field field">
      <%= render :partial => 'posts/like-field', locals: {post: post} %>
    </div>
    <div class="field">
      <span class="post__footer-author"><%= post.user.identify %></span>
      <span class="post__footer-content"><%= post.content %></span>
    </div>
    <div class="field">
      <ul class="post__comment-list">
        <% if post.comments.present? %>
            <%= render :partial => 'posts/comment', locals: {post: post} %>
        <% end %>
      </ul>
    </div>
    <div class="post__comment-field field">
      <%= form_tag post_comments_path(post), :id => 'comment_form', :class => 'comment__form', remote: true do %>
          <%= text_field_tag :content, nil, class: "post__comment-content", placeholder: "댓글 달기...", autocomplete: "off", required: true %>
      <% end %>
    </div>

    <%# if current_user.id == post.user.id %>
    <%# link_to "삭제", post_path(post), method: "delete", class: "right" %>
    <%# link_to "수정", edit_post_path(post), class: "right" %>
    <%# end %>
  </div>
</div>