<div class="post__wrap box">
  <div class="post__header">
    <div class="post__author">
      <a href="/<%= post.user.identify %>" class="author">
        <% if post.user.avatar %>
            <img class="thumbnail" src="<%= post.user.avatar.thumb.url %>"/>
        <% end %>
        <%= post.user.identify %>
      </a>
    </div>
    <div class="right">
      <span class="post__date"><%= post.created_at %></span>
    </div>
  </div>
  <div class="post__content">
    <% if post.image.url %>
        <div class="post__image">
          <img src="<%= post.image.url %>"/>
        </div>
    <% end %>
  </div>
  <div class="post__footer">
    <div class="post__like-field field" data-post-id="<%= post.id %>">
      <%= render :partial => 'like-field', locals: { post: post } %>
    </div>
    <div class="field">
      <span class="post__footer-author"><%= post.user.identify %></span>
      <span class="post__footer-content"><%= post.content %></span>
    </div>
    <div class="field">
      <% if post.comments.present? %>
          <ul class="post__comment-list">
            <% post.comments.each do |comment| %>
                <li>
                  <%= link_to comment.user.identify, '/' + comment.user.identify, class: 'identify' %>
                  <span class="content"><%= comment.content %></span>

                  <%# if comment.user.id == current_user.id %>
                  <!--<div><%# link_to "삭제", post_comment_path(post, comment), method: "delete" %></div>-->
                  <%# end %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </div>
    <div class="post__comment-field field">
      <%= form_tag post_comments_path(post), :class => 'comment__form' do %>
          <%= text_field_tag :content, nil, class: "post__comment-content", placeholder: "댓글 달기...", required: true %>
      <% end %>
    </div>
  </div>

  <%# if current_user.id == post.user.id %>
  <%# link_to "삭제", post_path(post), method: "delete", class: "right" %>
  <%# link_to "수정", edit_post_path(post), class: "right" %>
  <%# end %>
</div>