<div class="profile__wrap">
  <header class="profile__header row">
    <div class="profile__avatar four columns">
      <div class="profile__avatar-inner">
        <%= image_tag @find_user.avatar.url, class: 'image' %>
      </div>
    </div>
    <div class="profile__info eight columns">
      <div class="field">
        <span class="identify"><%= @find_user.identify %></span>
        <% if @find_user == current_user %>
            <%= link_to edit_user_registration_path do %>
                <button class="profile-button">프로필 편집</button>
            <% end %>
        <% end %>
      </div>
      <div class="field">
        <ul class="profile__info-list">
          <li>
            <span>게시물 <b><%= @find_user.posts.count %></b>개</span>
          </li>
          <li>
            <span>팔로워 <b><%= @find_user.followers.length %></b>명</span>
          </li>
          <li>
            <span>팔로우 <b><%= @find_user.followings.length %></b>명</span>
          </li>
        </ul>
      </div>
      <div class="field">
        <ul class="profile__info-list">
          <li>
            <b><%= @find_user.name %></b>
          </li>
        </ul>
      </div>
      <div class="field">
        <% if user_signed_in? && current_user != @find_user %>
            <% if current_user.followings.include?(@find_user) %>
                <%= form_tag follow_path(@find_user.id), method: :delete, class: "right" do %>
                    <button class="profile-button">팔로우 취소</button>
                <% end %>
            <% else %>
                <%= form_tag follows_path, class: "right" do %>
                    <input type="hidden" name="followed_id" value="<%= @find_user.id %>"/>
                    <button class="profile-button button-primary">팔로우</button>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </header>
  <div class="profile__content">
    <div id="post__list">
      <% @posts.each do |post| %>
          <%= render partial: "posts/post", object: post %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @posts %>